.SidebarSection {
	display: flex;
	flex-direction: column;
	width: 250px;
	max-width: 300px;
	
	.nav {
		justify-content: center;
	}
	
	.tab-content {
		border-right: 1px solid #dee2e6;
		flex-grow: 1;
		overflow: auto;
	}	
	
}